$primary-font-color : #575757;
$secondary-font-color : #DB8D33;
$dark-background : #414141;
$darker-background : #150300;

:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --brandy-punch: rgba(219, 141, 51, 1);
    }